{% extends 'layout.twig' %}

{% block content %}
<div class="col-lg-4 col-lg-offset-4" style="margin-top:30px">
{% if message is not empty %}
<div class="alert alert-info">{{ message|trans }}</div>
{% endif %}
<form role="form" action="{{ path('reset-pass-process', {token: token}) }}" method="POST">
	<h2>Reset Password</h2>
	<div class="form-group">
		<input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
	</div>
	<div class="form-group">
		<input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
	</div>
    <button class="btn btn-sm btn-primary" type="submit">Reset</button>
</div>
{% endblock %}