Dear {{email}},
<br/><br/>
Thank you for signing up! Please click the link below for confirmation:
<br/>
{#<a href="{{url|raw}}">Confirm Account</a>#}
{{url|raw}}
<br/>
<br/>
Thanks<br/>
PSEMonitor.com