/* CSS Document */
html, body {padding-top:30px; font-family: tahoma; font-size: 11px}
img.logo {height:50px;max-width:220px}
li.help-msg-paypal a{color:red !important;padding-right: 0}
.heading { font-size: 14px;font-weight: bold;font-family: tahoma;}

/* Actions Btn */
.show-btn {
	margin-bottom: 20px
}
.sign-out-btn {
	color: #FFF;
	background-color: #ACACAC
}
	.sign-out-btn:hover {
		color: #FFF;
		background-color: #7A7A7A
	}

/* Table */
.table, .table th {
	font-size: 12px;
	text-align: center;
}
.main-table .header:hover {
	color: #FFF;
	cursor: pointer;
	background-color: #5bc0de
}
.main-table .header.headerSortUp {
	color: #FFF;
	background-color: #0A82D9
	/*
	background-image: none;
	background-image: url("../img/sortable/asc.gif");
	*/
}
.main-table .header.headerSortDown {
	color: #FFF;
	background-color: #5bc0de
	/*
	background-image: none;
	background-image: url("../img/sortable/desc.gif");
	*/
}

.abbr {
	cursor: pointer
}
.summ-sell, .summ-strong-sell, .summ-buy, .summ-strong-buy, .summ-neutral,
.summ-sell:hover, .summ-strong-sell:hover, .summ-buy:hover, .summ-strong-buy:hover, .summ-neutral:hover {
	color: #FFF;
	cursor: default;
}
.summ-sell, .summ-strong-sell, .summ-buy, .summ-strong-buy, .summ-neutral, .summ-null, .price {
	font-size:11px;
}
.summ-neutral, #menuModal .btn-neutral {
	background-color: #ACACAC
}
	.summ-neutral:hover, #menuModal .btn-neutral:hover {
		background-color: #7A7A7A
	}
.summ-sell {
	background-color: #ff0000;
}
	.summ-sell:hover {
		background-color: #eb0202
	}
.summ-strong-sell, #menuModal .btn-sell {
	background-color: #c00000;
}
	.summ-strong-sell:hover, #menuModal .btn-sell:hover {
		background-color: #a70101
	}
.summ-buy {
	background-color: #92d050
}
	.summ-buy:hover {
		background-color: #7eb840
	}
.summ-strong-buy, #menuModal .btn-buy {
	background-color: #00b050
}
	.summ-strong-buy:hover, #menuModal .btn-buy:hover {
		background-color: #019243
	}
.red-txt {
	color: #FF0004;
}
.green-txt {
	color: #00D504
}
.black-txt {
	color: #000
}


/* Menu modal */
#menuModal h4.title-buy {
	color: #00b050
}
#menuModal h4.title-sell {
	color: #c00000
}
#menuModal h4.title-neutral {
	color: #333
}
#menuModal .btn-buy, #menuModal .btn-sell, #menuModal .btn-neutral,
#menuModal .btn-buy:hover, #menuModal .btn-sell:hover, #menuModal .btn-neutral:hover {
	color: #FFF;
	cursor: pointer;
}
#menuModal h5 {
	font-weight: bold;
}
#menuModal ul {
	/*list-style-type: none*/
}
#menuModal ul li a {
	color: #333;
}
#menuModal ul li a:hover {
	color: #619def;
	text-decoration: underline;
}