/* CSS Document */
html, body {padding-top:30px;}

/* Actions Btn */
.show-btn {
	margin-bottom: 20px
}
.sign-out-btn {
	color: #FFF;
	background-color: #ACACAC
}
	.sign-out-btn:hover {
		color: #FFF;
		background-color: #7A7A7A
	}

/* Table */
.table, .table th {
	font-size: 12px;
	text-align: center;
}
.main-table .header:hover {
	color: #FFF;
	cursor: pointer;
	background-color: #5bc0de
}
.main-table .header.headerSortUp {
	color: #FFF;
	background-color: #0A82D9
	/*
	background-image: none;
	background-image: url("../img/sortable/asc.gif");
	*/
}
.main-table .header.headerSortDown {
	color: #FFF;
	background-color: #5bc0de
	/*
	background-image: none;
	background-image: url("../img/sortable/desc.gif");
	*/
}

.abbr {
	cursor: pointer
}
.summ-sell, .summ-strong-sell, .summ-buy, .summ-strong-buy, .summ-neutral, 
.summ-sell:hover, .summ-strong-sell:hover, .summ-buy:hover, .summ-strong-buy:hover, .summ-neutral:hover {
	color: #FFF;
	cursor: default;
}
.summ-sell, .summ-strong-sell, .summ-buy, .summ-strong-buy, .summ-neutral, .summ-null {
	font-size:11px;
}
.summ-neutral {
	background-color: #ACACAC
}
	.summ-neutral:hover {
		background-color: #7A7A7A
	}
.summ-sell {
	background-color: #ff0000;
}
	.summ-sell:hover {
		background-color: #eb0202
	}
.summ-strong-sell {
	background-color: #c00000;
}
	.summ-strong-sell:hover {
		background-color: #a70101
	}
.summ-buy {
	background-color: #92d050
}
	.summ-buy:hover {
		background-color: #7eb840
	}
.summ-strong-buy {
	background-color: #00b050
}
	.summ-strong-buy:hover {
		background-color: #019243
	}
.red-txt {
	color: #FF0004;
}
.green-txt {
	color: #00D504
}
.black-txt {
	color: #000
}