<div class="modal fade" id="newSkipDate">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Skip Date</h4>
      </div>
        <form action="{{ path('date-action') }}" method="POST">
        <div class="modal-body">
              <input type="hidden" name="date_id" value=""/>
              <div class="form-group">
                <button type="button" class="btn btn-sm btn-success pull-right add-skip-date"><i class="fa fa-fw fa-plus"></i></button>
                <button type="button" class="btn btn-sm btn-danger pull-right remove-skip-date" style="margin-right:10px"><i class="fa fa-fw fa-minus"></i></button>
              </div>
              <br/>
              <div class="form-group">
                  <input type="date" name="date[]" class="date form-control" value="{{ 'now'|date('Y-m-d') }}" required/>
              </div>
        </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </div>
        </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->